.root {
    -fx-font-family: "Gilroy";
    -color-accent-1: #3d1629;
    -color-accent-2: #5c2240;
    -color-accent-3: #8a3363;
    -color-accent-4: #bf4b8a;
    -color-accent-5: #d472a8;
    -color-accent-6: #e9a8cc;
    -color-accent-fg: white;
    -color-accent-emphasis: #bf4b8a;
}


#title {
    -fx-font-size: 38;
    -fx-font-weight: bold;
    -fx-padding: 40 40 40 40;
    -fx-border-color: red;
}

#title .ikonli-font-icon {
    -fx-icon-size: 42;
}

#fileRow {
    -fx-border-color: red;
}

#infoContainer {
    -fx-border-color: red;
    -fx-padding: 20;
}

#videoInfoList {
  -fx-pref-height: 300;
  -fx-border-radius: 4;
  -fx-background-radius: 4;
  -fx-border-color: -color-accent-emphasis;
  -fx-background-color: -color-bg-subtle;
}

#videoInfoList .list-cell {
  -fx-padding: 10;
  -fx-background-color: transparent;
}

.error {
    -fx-text-color: red;
    -fx-icon-color: -color-danger-fg;
}

.success {
    -fx-text-color: green;
    -fx-icon-color: -color-success-fg;
}